{% extends "base.html" %}

{% block body %}

<section class="page-section portfolio mt-5" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Weapon Detection</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">

            <div class="col-md-6 col-lg-4 mb-5">
                <div class="card">
                    <div class="card-body">
                        <form action="" method="post">
                            {% csrf_token %}
                            <button class="w-100 btn btn-primary btn-xl mt-3" type="submit">Start Camera</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>

{% endblock body %}